body {
    width: 100%;
    margin: 0;
    color: #333333;
    line-height: 1.42857143;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding-bottom: 70px;
}

h1, h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

.banner {
    background-color: #7dc5d5;
    height: 60px;
    box-shadow: 0 2px 7px rgb(0, 0, 0, 0.25);
    position: fixed;
    width: 100%;
}

h1 {
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    margin: 0;
    padding: 15px 0 0 0;
}

.settings {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    background-color: #E5E5E4;
}

#locationTextField {
    display: block;
    margin: auto;
}

a img {
    width: 30px;
}

footer {
    background-color: #7dc5d5;
    height: 70px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    box-shadow: 0 -2px 7px rgb(0, 0, 0, 0.25);
    font-size: small;
}

span {
    display: block;
    margin: -4px auto;
}

footer a {
    display: inline-block;
    width: 18%;
    text-decoration: none;
    margin: 10px 0;
    color: white;
    bottom: 0px;
}

.content {
    border-spacing: 10px;
}

#restaurants {
    width: 85%;
    margin: auto;
    padding-top: 80px;
}

tr {
    background-color: #E5E5E4;
}

td {
    padding: 20px 0;
    text-align: left;
}

td img {
    width: 60px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.listname {
    font-weight: bold;
    font-size: larger;
}